.admin {
	&--title {
		text-align: center;
		margin-top: 50px;
	}

	&--form {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 10px;

		input {
			margin: 10px;
			padding: 10px;
		}
	}

	&--body {
        position: relative;
		width: 91.7%;
		margin: 40px auto;
		display: flex;
		justify-content: space-around;
    }

    &--switch {
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-items: 0;
        justify-content: center;
        padding: 12px;

        &__schedule,
        &__add-time {
            padding: 14px 28px;
            margin: 0 10px;
            border-radius: 8px;
            border: none;
            background-color: $bleach;
        }

        .active {
            box-shadow: 0 -3px 6px rgba($brown, .36);
            border-bottom: $tomato solid 3px;

        }

        .inactive {
            box-shadow: inset 0 -3px 6px rgba($brown, .36);
        }
    }

	&--schedule {
        width: 40%;
        max-height: 75vh;
		h2 {
            margin-bottom: 15px;
            text-align: center;
            color: $tomato;
        }
        &--toggle {
            width: 50%;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            border: none;
            box-shadow: inset 0 -1px 9px rgba($tomato, .4);
            font-family: futura-pt, sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 18px;
            padding: 15px;
            &:focus {
                 
            }
            &__wrapper {
                width: 100%;
                display: flex;
                justify-content: stretch;

                .active {
                    background-color: rgba($tomato, .4);
                    box-shadow: none;
                    // border-top: 3px solid $bleach;
                    color: $bleach;
                }
            }
        }
		&--list {
            max-height: 100%;
			min-height: 50px;
			background-color: $tomato;
			border-radius: 12px;
            width: 100%;
            padding: 5px 5px 25px;
            box-shadow: 0 -2px 16px rgba($tomato, .38);
            .list {
                max-height:50vh;
                &--year {
                    list-style: none;
                    position: relative;
                    &__name {
                        font-size: 74px;
                        color: rgba($bleach, .7);
                        font-family: ambroise-firmin-std, serif;
                        font-weight: 400;
                        font-style: normal;
                        margin-bottom: -10px;
                        text-align: center;
                    }
                }
                &--month {
                    list-style: none;
                    padding: 10px;
                    &__name {
                        font-size: 38px;
                        font-weight: 300;
                        text-align: center;
                        margin-top: 25px;
                    }
                    &__days {
                        padding: 5px;
                        margin: 0 0 10px;
                    }
                }

                &--day {
                    padding: 7.5px 0;
                    &__name {
                        font-size: 26px;
                        font-weight: 400;
                    }
                    &__times {
                        margin-top: 5px;
                        display: flex;
                        flex-wrap: wrap;
                    }
                }

                &--time {
                    padding: 20px 17.5px;
                    margin: 5px;
                    width: 185px;
                    font-family: futura-pt, sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    border-radius: 9px;
                    border: none;  
                    hr {
                        margin-top: 10px;
                    }
                    &--data {
                        position: relative;

                        p {
                            font-size: 18px;
                            margin-left: -32px;
                        }

                        button {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translate(0,-50%);
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            border: none;
                            background: rgba($tomato, .55);
                            box-shadow: 0 -1px 11px rgba($tomato, .6);
                            cursor: pointer;
                            svg {
                                color: $tomato;
                            }
                        }
                    }
                    &--customer {
                        padding: 10px;
                        p {
                            font-size: 14px;
                            margin: 3px 0;
                        }
                    }
                }
            }
        }
        
        @media screen and (max-width: 1300px) {
            width: 60%;
        }

        @media screen and (max-width: 1000px) {
            width: 85%;
        }

        @media screen and (max-width: 760px) {
            width: 90%;
            &--toggle {
                font-size: 17px;
            }
            &--list {

                .list {

                    &--year {
                        &__name {
                            font-size: 56px;
                        }
                    }

                    &--month {
                        &__name {
                            margin-top: 12px;
                            font-size: 32px;
                        }
                    }

                    &--day {
                        &__name {
                            font-size: 22px;
                        }
                    }
                    &--time {
                        padding: 14px 11px;
                        width: 160px;
                        &--data {

                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    &--add-time {
        width: 40%;
        max-height: 70vh;

        h2 {
			margin-bottom: 15px;
        }

        &__recent {
            max-height: 100%;
			min-height: 350px;
			background-color: $bleach;
			border-radius: 12px;
            width: 80%;
            padding: 25px 30px 25px;
            margin-top: 25px;
            box-shadow: 0 -2px 16px rgba($brown, .38);
            &__empty {
                color: rgba($bleach, .7);
                font-weight: 700;
                text-align: center;
                font-size: 22px;
                padding: 15px;
            }

            .recent {

                &--card {
                    margin: 15px 20px;
                    padding: 20px 45px;
                    border-radius: 4px;
                    font-family: futura-pt, sans-serif;
                    font-weight: 600;
                    font-style: normal;        
                    font-size: 16px;   
                    text-align: center;
                    position: relative;
                    animation: fadeIn .25s ease-in-out;

                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                            
                        }

                        to {
                            opacity: 1;
                        }
                    }

                    .close-card {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        // transform: translate(0,-50%);
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        border: none;
                        background: rgba($bleach, .55);
                        box-shadow: 0 -1px 11px rgba($brown, .4);
                        cursor: pointer;
                    }

                    &__invalid {
                        background-color: $danger;
                        box-shadow: 0 -3px 12px rgba($danger, .5);
                        .close-card {
    
                            svg {
                                color: $tomato;
                            }
                        }
                    }
                    &__valid {
                        background-color: $success;
                        box-shadow: 0 -3px 12px rgba($success, .5);

                        .close-card {
    
                            svg {
                                color: $grass;
                            }
                        }
                    }
                    .list--time {
                        background: transparent;
                        border: none;
                        outline: none;
                        font-family: futura-pt, sans-serif;
                        font-weight: 600;
                        font-style: normal;        
                        font-size: 16px;  
                    }

                }
            }

        }

        &__input {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            button[type="submit"] {
                height: 60px;
                margin-left: 25px;
                padding: 10px 20px;
                font-family: futura-pt, sans-serif;
                font-weight: 600;
                font-style: normal;        
                font-size: 16px;   
                border: none;
                border-radius: 6px;
                box-shadow: 0 -2px 6px rgba($brown, .23); 
                background-color: rgba($brown, .23);
                color: $brown;
            }


        }

        @media screen and (max-width: 1300px) {
            width: 35%;

            &__recent {
                width: 100%;
            }

            &__input {

                button[type="submit"] {
                    width: 260px;
                    margin-left: 0;
                    margin-top: 12.5px;
                }
            }
        }

        @media screen and (max-width: 1000px) {
            width: 85%;

            &__input {

                button[type="submit"] {
                    margin-left: 12.5px;
                    margin-top: 0;
                }
            }
        }

        @media screen and (max-width: 760px) {

            &__input {

                button[type="submit"] {
                    width: 80%;
                    margin-left: 0;
                    margin-top: 12.5px;
                    min-width: 310px;
                }
            }

            &__recent {
                padding: 15px 17.5px 15px 0;

            }
        }

        @media screen and (max-width: 450px) {
            width: 100%;
            
            &__input {

                button[type="submit"] {
                    width: 100%;

                    min-width: none;
                }
            }
        }

        .react-datetime-picker {
            height: 60px;
            border-radius: 6px;
            box-shadow: 0 -2px 6px rgba($brown, .23); 
            background-color: rgba($brown, .13);
            color: $brown;
            min-width: 310px;
            max-width: 100%;
            &__wrapper {
                padding: 5px 15px;
                font-family: futura-pt, sans-serif;
                font-weight: 400;
                font-style: normal;        
                font-size: 16px; 
                border: none;
            }
            @media screen and (max-width: 760px) {
                width: 80%;
            }
            @media screen and (max-width: 450px) {
                width: 100%;
            }

        }
    }

    @media screen and (max-width: 450px) {

        &--title {
            font-size: 24px;
            padding: 0;
            margin: 10px;

        }
    }
}
