.header {
    position: absolute;
    height: 95px;
    top: 10px;
    left: 0;
    width: 100%;
    &--inner {
        height: 100%;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: 750px) {
        top: 20px;
    }
    @media screen and (max-width: 500px) {
        &--inner {
            flex-direction: column;
            height: 20vh;
            max-height: 160px;
            min-height: 150px;
        }
    }
}

.logo {
    height: 72.5%;
    max-height: 65px;
    &--wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}

.nav {
    a {
        text-transform: capitalize;
        text-decoration: none;
        margin: 0 36.5px;
        font-size: 23px;
        color: $grass;
    }

    @media screen and (max-width: 750px) {
        a {
            font-size: 21px;
            margin: 0 24.25px;
        }
    }
    @media screen and (max-width: 500px) {
        margin-bottom: 15px;
    }
}