.landing {
    min-height: 115vh;
    overflow-x: hidden;
	background: linear-gradient(
			to bottom,
			rgba($bleach, 1) 0%,
			rgba($bleach, 0.65) 45%,
			rgba($bleach, 0.55) 52.5%,
			rgba($bleach, 0.63) 70%,
			rgba($bleach, 1) 100%
		),
        url(/perishables.jpg);
    background-size: cover;

    @media screen and (max-width: 1350px) {
        background: linear-gradient(
			to bottom,
			rgba($bleach, 1) 0%,
			rgba($bleach, 0.75) 52.5%,
			rgba($bleach, 0.68) 57.5%,
			rgba($bleach, 0.71) 70%,
			rgba($bleach, 1) 100%
		),
        url(/perishables.jpg);
        background-size: cover;

    }
    @media screen and (max-width: 600px) {
        min-height: 105vh;
    }
        
    &--inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: min-content;
        width: 83.33%;
        margin: auto;
        padding-top: 180px;
        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }
    &--title {
        font-family: ambroise-firmin-std, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 94px;

        text-transform: uppercase;
        color: $brown;
        grid-column: 1/9;
        grid-row: 1/2;

        @media screen and (max-width: 1850px) {
            font-size: 85.6px;
        }
        @media screen and (max-width: 1650px) {
            font-size: 73px;
        }
        @media screen and (max-width: 1350px) {
            font-size: 62px;
            grid-column: 1/10;
            text-align: right;
        }
        @media screen and (max-width: 1000px) {
            font-size: 58px;
            grid-column: 1/12;
        }
        @media screen and (max-width: 760px) {
            grid-column: 1/13;
            text-align: center;
            font-size: 48px;
        }
        @media screen and (max-width: 575px) {
            font-size: 36px;
        }

    }
    &--subtitle {
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 54px;
        grid-column: 2/9;
        grid-row: 2/3;
        
        text-transform: capitalize;
        color: $tomato;
        text-align: right;

        @media screen and (max-width: 1850px) {
            font-size: 42px;
        }
        @media screen and (max-width: 1650px) {
            font-size: 36px;
        }
        @media screen and (max-width: 1350px) {
            font-size: 30px;
            grid-column: 1/10;
        }
        @media screen and (max-width: 1350px) {
            grid-column: 1/12;
        }
        @media screen and (max-width: 760px) {
            grid-column: 1/13;
            text-align: center;
            font-size: 27px;
        }
        @media screen and (max-width: 575px) {
            font-size: 23px;
        }
    }
    &--roles {
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 30px;

        text-transform: capitalize;
        color: $brown;
        grid-column: 4/9;
        grid-row: 3/4;
        text-align: right;

        @media screen and (max-width: 1850px) {
            font-size: 28px;
        }
        @media screen and (max-width: 1650px) {
            font-size: 23px;
        }
        @media screen and (max-width: 1350px) {
            font-size: 21px;
            grid-column: 3/10;
        }
        @media screen and (max-width: 1350px) {
            grid-column: 1/12;
        }
        @media screen and (max-width: 760px) {
            grid-column: 1/13;
            text-align: center;
            font-size: 19px;
        }
        @media screen and (max-width: 575px) {
            font-size: 20px;
        }
    }

    &--form {
        display: flex;
        justify-content: space-between;

        &--wrapper {
            position: relative;
            transform: translateX(calc(100vw / 12));
            grid-row: 4/5;
            grid-column: 3/13;
            background: linear-gradient(to right, rgba($tomato, 1) 0%, rgba($tomato, .85) 40%, rgba($tomato, 0) 95%);
            // background-color: $tomato;
            color: $bleach;
            font-family: futura-pt, sans-serif;
            font-weight: 500;
            font-style: normal;
            padding: 45px calc(100vw / 8) 45px 85px;
            margin-top: 95px;
            border-radius: 20px;

            p {
                text-transform: capitalize;
                font-size: 23px;
                margin-top: 10px;
                font-weight: 400;
            }
        }

        &--title {
            text-transform: uppercase;
            font-size: 30px;
        }

        &--options {
            display: flex;
            flex-wrap: wrap;
            width: 43%;

            button {
                position: relative;
                border: none;
                background-color: $tomato;
                font-family: futura-pt;
                text-transform: capitalize;
                color: $bleach;
                font-size: 20px;
                padding: 12.5px 40px;
                margin: 7px;
                border-radius: 14px;
                cursor: pointer;
                box-shadow: inset 0 -4px 12px rgba(black, .21);
                outline: none;
                transform: scale(1);
                transition: all .075s ease-out;
            }

            .option__active {
                box-shadow: 0 -4px 18px rgba(black, .21);
                transform: scale(1.05);
                transition: all .075s ease-in;
                background-color: $bleach;
                color: $tomato;
            }
        }
        &--submit {
            align-self: flex-end;

            a {
                display: block;
                text-decoration: none;
                position: relative;
                border: none;
                background-color: $bleach;
                color: $tomato;
                font-family: futura-pt;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 27px;
                padding: 25px 50px;
                border-radius: 7px;
                box-shadow: 0 -6px 20px rgba($tomato, .21);
                cursor: pointer;
                outline: none;
                transform: scale(1);
                transition: transform .15s ease-in-out;

                &:hover {
                    transform: scale(1.025);
                }

                &:active {
                    transform: scale(1.01);
                }
            }
        }

        @media screen and (max-width: 1850px) {
            &--wrapper {
                padding: 32.5px calc(100vw / 8) 32.5px 60px;
                margin-top: 75px;

                p {
                    font-size: 21px;
                }
            }
            &--title {
                font-size: 24px;

            }
            &--options {
                width: 52%;
            }
            &--submit {

                a {
                    font-size: 24px;
                    padding: 18px 40px;
                }
            }
        }

        @media screen and (max-width: 1450px) {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            &--wrapper {
                padding: 35px calc(50vw / 8) 35px 35px;
                margin-top: 75px;
                grid-column: 5/13;

                p {
                    font-size: 19px;
                    margin: 15px 0 10px 0;
                }
            }
            &--title {
                font-size: 22px;
            }
            &--options {
                width: 100%;
                button {
                    font-size: 19px;
                    padding: 15px 35px;
                }
            }
            &--submit {
                align-self: flex-start;
                a {
                    font-size: 24px;
                    padding: 18px 40px;
                    margin-top: 25px;
                }
            }
        }
        @media screen and (max-width: 1350px) {

            &--wrapper {
                background: linear-gradient(to bottom, rgba($tomato, 1) 0%, rgba($tomato, .85) 30%, rgba($tomato, 0) 65%);
                align-items: center;
                grid-column: 2/10;
            }
            &--submit {
                align-self: flex-start;
                a {
                    font-size: 24px;
                    padding: 18px 40px;
                    margin-top: 25px;
                    box-shadow: 0 -6px 20px rgba($brown, .41);

                }
            }
        }
        @media screen and (max-width: 1200px) {

            &--wrapper {
                padding: 35px 55px;
                grid-column: 2/10;

                p {
                    text-align: center;
                }
            }
            &--title {
                text-align: center;            
            }
            &--options {
                width: 100%;
                justify-content: center;
                button {
                    font-size: 19px;
                    padding: 15px 35px;
                }
            }
            &--submit {
                align-self: center;
                a {
                    font-size: 24px;
                    padding: 18px 40px;
                    margin-top: 25px;
                    box-shadow: 0 -6px 20px rgba($brown, .41);

                }
            }
        }
        @media screen and (max-width: 1050px) {

            &--wrapper {
                grid-column: 1/11;
            }
            &--title {
                font-size: 20px;           
            }
            &--options {
                width: 100%;
                justify-content: center;
                button {
                    font-size: 19px;
                    padding: 15px 35px;
                }
            }
            &--submit {
                align-self: center;
                a {
                    font-size: 20px;
                }
            }
        }
        @media screen and (max-width: 1050px) {

            &--wrapper {
                grid-column: 0/12;
            }
            &--title {
                font-size: 19px;
            }
            &--options {
                width: 100%;
                justify-content: center;
                button {
                    font-size: 19px;
                    padding: 15px 35px;
                }
            }
            &--submit {
                align-self: center;
                a {
                    font-size: 19px;
                }
            }
        }
        @media screen and (max-width: 630px) {
            &--wrapper {
                margin-top: 25px;                
                padding: 25px;

                p {
                    margin: 5px 0 0;
                }
            }
            &--title {
                font-size: 18px;
            }
            &--options {

                button {
                    font-size: 18px;
                    padding: 12.5px 25px;
                }
            }
            &--submit {
                align-self: center;
                width: 70%;
                text-align: center;
                a {
                    font-size: 17px;
                }
            }
        }
        @media screen and (max-width: 500px) {
            &--wrapper {
                width: 100%;
            }
            &--submit {
                width: 85%;
            }
        }

    }
}
