.schedule {
	padding-top: 120px;
	min-height: 115vh;
	overflow-x: hidden;
	background: linear-gradient(
			to bottom,
			rgba($bleach, 1) 0%,
			rgba($bleach, 0.65) 45%,
			rgba($bleach, 0.55) 52.5%,
			rgba($bleach, 0.63) 70%,
			rgba($bleach, 1) 100%
		),
		url(/perishables.jpg);
	background-size: cover;

	&--interface {
		max-width: 1500px;
		width: 62.5%;
		margin: 25px auto 175px;

		@media screen and (max-width: 1465px) {
			width: 72.5%;
		}
		@media screen and (max-width: 920px) {
			width: 82.5%;
		}
		@media screen and (max-width: 810px) {
			width: 95%;
		}
	}

	&--title {
		text-align: center;
		font-family: ambroise-firmin-std, serif;
		font-weight: 400;
		font-style: normal;
		font-size: 72px;
		margin-bottom: 60px;
		text-transform: capitalize;
		color: $brown;

		@media screen and (max-width: 1250px) {
			font-size: 64px;
			margin-bottom: 50px;
		}
		@media screen and (max-width: 850px) {
			font-size: 48px;
			margin-bottom: 40px;
		}
		@media screen and (max-width: 505px) {
			font-size: 36px;
			margin-top: 110px;
		}
	}
	&__step-1 {
		display: flex;
		justify-content: space-between;



		&--title {
			text-transform: capitalize;
			font-family: futura-pt, sans-serif;
			font-weight: 600;
			font-style: normal;
			font-size: 28px;
			color: #7a4e35;
		}
		&__focus {
			margin-bottom: 50px;
			&--options {
				button {
					position: relative;
					border: none;
					font-family: futura-pt;
					text-transform: capitalize;

					background-color: $brown;
					color: $bleach;
					opacity: 0.6;
					font-size: 20px;
					padding: 12.5px 40px;
					margin: 10px 15px;
					border-radius: 14px;
					cursor: pointer;
					box-shadow: inset 0 -4px 12px rgba(black, 0.27);
					outline: none;
					transform: scale(1);
					transition: all 0.075s ease-out;

					&::before {
						position: absolute;
						content: "";
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: calc(100% + 5px);
						height: calc(100% + 5px);
						border: 2px rgba($grass, 0) solid;
						border-radius: 18px;
						transition: all 0.1s;
					}
				}

				.option__active {
					box-shadow: 0 -4px 18px rgba(black, 0.21);
					transform: scale(1.05);
					transition: all 0.075s ease-in;
					opacity: 1;
					background-color: $bleach;
					color: $brown;

					&::before {
						border-color: $grass;
						transition: all 0.1s;
					}
				}
			}
		}
		&__packages {
			h2 {
				text-align: center;
			}
			.option {
				position: relative;
				display: flex;
				align-items: center;
				border: none;
				margin: 20px 10px;
				border-radius: 10px;
				box-shadow: 0 8px 19px rgba(black, 0.17);
				cursor: pointer;
				transform: scale(1);
				transition: all 0.15s ease-in-out;
				outline: none;

				&::before {
					position: absolute;
					content: "";
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: calc(100% + 15px);
					height: calc(100% + 15px);
					border: 5px rgba($grass, 0) solid;
					border-radius: 15px;
					transition: all 0.1s;
				}

				&__active {
					transform: scale(1.025);
					box-shadow: 0 8px 19px rgba($grass, 0.27);

					&::before {
						border-color: $grass;
						transition: all 0.1s;
					}
				}

				&:hover {
					transform: scale(1.025);
				}

				&:active {
					transform: scale(1.01);
				}
				hr {
					width: 80px;
					position: relative;
					transform: rotate(90deg);
					border: solid 2px $brown;
				}

				&--head {
					text-align: center;
					margin: auto;
					// flex-grow: 1;
					// width: 150px;
					padding: 22px 33px;
					position: relative;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						height: 70%;
						width: 2px;
						background-color: $brown;
						transform: translateY(-50%);
					}

					h4 {
						font-family: ambroise-firmin-std, serif;
						font-weight: 400;
						font-style: normal;
						font-size: 34px;
						text-transform: capitalize;
					}

					h5 {
						text-transform: capitalize;
						font-family: futura-pt, sans-serif;
						font-weight: 500;
						font-style: normal;
						font-size: 25px;
					}
				}
				&--body {
					flex-grow: 2;
					text-align: left;
					padding-left: 15px;
					padding-right: 12.5px;
					p {
						font-family: futura-pt, sans-serif;
						font-weight: 400;
						font-style: normal;
						font-size: 19px;
						text-transform: capitalize;
					}

					ul {
						list-style: none;
						display: flex;
						flex-wrap: wrap;
						li {
							width: 45%;
							font-family: ambroise-firmin-std, serif;
							font-weight: 800;
							font-style: normal;
							font-size: 21px;
							text-transform: capitalize;
						}
					}
				}

				&__initial,
				&__follow-up {
					width: 35%;
					max-width: 350px;
					color: $brown;
					ul li {
						width: 100%;
					}
				}
				&__jumpstart,
				&__standard,
				&__premium {
					width: 60%;
					max-width: 600px;
				}

				&__initial {
					order: 1;
				}
				&__jumpstart {
					order: 2;
					background-color: $bleach;
					color: $tomato;

					.option--head::before {
						background-color: $tomato;
					}
				}
				&__follow-up {
					order: 3;
				}
				&__standard {
					order: 4;
					background-color: $tomato;
					color: $bleach;

					.option--head::before {
						background-color: $bleach;
					}
				}
				&__premium {
					order: 5;
					margin-left: auto;

					background-color: $brown;
					color: $bleach;

					.option--head::before {
						background-color: $bleach;
					}
				}
				@media screen and (max-width: 1250px) {
					margin: 10px 5px;
					&::before {
						border: 3px rgba($grass, 0) solid;
						width: calc(100% + 10px);
						height: calc(100% + 10px);
					}
					&__active {
						&::before {
							border-color: $grass;
						}
					}
					&--head {

						h4 {
							font-size: 29px;
						}
						h5 {
							font-size: 20px;
						}
					}
					&--body {
						padding: 10px 12.5px 10px 15px;

						ul {
							li {
								font-size: 18px;
							}
						}
					}

					&__premium {
						margin-left: auto;
					}
				}
				@media screen and (max-width: 650px) {
					&--head {
						padding: 14px 18px;
						h4 {
							font-size: 24px;
						}
						h5 {
							font-size: 18px;
						}
					}
				}
			}
			&--options {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				@media screen and (min-width: 2000px) {
					.option {
						&__initial,
						&__follow-up {
							max-width: 425px;
						}
						&__jumpstart,
						&__standard,
						&__premium {
							max-width: 700px;
						}
					}
				}
				@media screen and (max-width: 1465px) {
					justify-content: space-between;
				}

				@media screen and (max-width: 1200px) {
					justify-content: center;
					.option {
						&__initial,
						&__follow-up {
							width: 42.5%;
							max-width: none;
							color: $brown;
							ul li {
								width: 100%;
							}
						}
						&__jumpstart,
						&__standard,
						&__premium {
							width: 85%;
							max-width: none;
						}
						&__follow-up {
							order: 2 ;
						}
						&__jumpstart {
							order: 3 ;
						}
						&__premium {
							order: 5;
							margin-left: 0 ;
						}
					}
				}
			}
		}
		&__confirm {
			margin-top: 50px;
			margin-bottom: 25px;
			display: block;
			text-align: center;
			text-transform: capitalize;
			text-decoration: underline;
			color: #7a4e35;
			font-family: futura-pt, sans-serif;
			font-weight: 600;
			font-style: normal;
			font-size: 24px;
			cursor: pointer;
		}

		@media screen and (max-width: 1775px) {
			flex-direction: column;
		}

		@media screen and (max-width: 1465px) {
			&--title {
				text-align: center;
			}
			&__focus {
				margin: 0 auto 50px;
			}
			&__packages {
				margin: auto;
			}
		}

		@media screen and (max-width: 1250px) {
			&--title {
				font-size: 24px;
			}
			&__focus {
				margin-bottom: 35px;

				&--options {
					button {
						font-size: 18px;
					}
				}
			}
		}
		@media screen and (max-width: 850px) {
			&--title {
				font-size: 22px;
			}
			&__focus {
				&--options {
					button {
						padding: 12.5px 25px;
						margin: 10px 12px;
					}
				}
			}
		}
		@media screen and (max-width: 450px) {
			&__focus {
				&--options {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					button {
						padding: 12.5px 25px;
						margin: 10px 12px;
					}
				}
			}
		}
	}

	&--modal {
		box-shadow: 0 5px 15px rgba(black, 0.26);
		background-color: rgba($tomato, 0.95);
		width: 300px;
		border-radius: 6px;

		&--title {
			text-align: center;
			padding: 14px 10px 24px;
			color: $bleach;
			box-shadow: 0 2px 4px rgba(black, .16);
			border-radius: 3px;
			font-family: futura-pt, sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: 24px;
		}

		&--list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			// max-height: 300px;
			min-height: 100px;
			p {
				text-align: center;
				width: 100%;
				padding: 25px;
				color: rgba($bleach, .7);
				font-weight: 600;

			}
			li {
				text-decoration: none;
				list-style: none;
				width: 100%;
				button {
					width: 66%;
					display: block;
					position: relative;
					border: none;
					background-color: $bleach;
					color: $tomato;
					font-family: futura-pt;
					text-transform: capitalize;
					font-weight: 700;
					font-size: 17px;
					padding: 12px 28px;
					margin: 10px auto;
					border-radius: 7px;
					box-shadow: 0 -6px 20px rgba($tomato, 0.21);
					cursor: pointer;
					outline: none;
					transform: scale(1);
					transition: transform 0.15s ease-in-out;

					&::before {
						position: absolute;
						content: "";
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: calc(100% + 5px);
						height: calc(100% + 5px);
						border: 2px rgba($bleach, 0) solid;
						border-radius: 10px;
						transition: all 0.1s;
					}

					&:hover {
						transform: scale(1.025);
					}

					&:active {
						transform: scale(1.01);
					}
				}
				.active {
					box-shadow: 0 -4px 18px rgba(black, 0.21);
					transform: scale(1.05);
					transition: all 0.075s ease-in;
					opacity: 1;
					background-color: $brown;
					color: $bleach;

					&::before {
						border-color: $bleach;
						transition: all 0.1s;
					}
				}
				&:first-child {
					margin-top: 42.5px;
				}
				&:last-child {
					margin-bottom: 42.5px;
				}
			}
		}
	}

	&--calendar {

		&--title {
			text-align: center;
			text-transform: capitalize;
			font-family: futura-pt, sans-serif;
			font-weight: 600;
			font-style: normal;
			font-size: 38px;
			color: #7a4e35;
			margin-bottom: 40px;
		}
		&--content {
			display: flex;
			justify-content: space-evenly;
			align-items: stretch;
			.calendar {
				&--dates {
					width: min-content;
				}
			}
		}
	}
	&--customer {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		&--title {
			text-align: center;
			text-transform: capitalize;
			font-family: futura-pt, sans-serif;
			font-weight: 600;
			font-style: normal;
			font-size: 38px;
			color: #7a4e35;
			margin-bottom: 40px;
		}

		&--form {
			// background-color: $tomato;
			width: 50%;
			padding: 10px;


			.input__wrapper {
				background-color: $bleach;
				margin: 15px;
				box-shadow: 0 2px 9px rgba(black, .21);
				border-radius: 8px;
				position: relative;
				font-family: futura-pt, sans-serif;
				font-weight: 600;
				font-style: normal;
				font-size: 23px;
				border-bottom: solid 4px rgba($brown, .5);
				border-right: solid 4px rgba($brown, .5);

				transition: border-color .3s ease-in;
				input {
					position: relative;
					z-index: 100;
					font-size: 18px;
					background-color: transparent;
					color: $brown;
					width: 100%;
					height: 100%;
					border: none;
					margin: 0;
					padding: 17.5px 15px;
					font-family: inherit;
					font-weight: 600;
					&:placeholder {
						color: $tomato;
					}
					&:focus {
						+ label {
							transform: translate(-150%, -50%);
							opacity: 1;
						}
					}
				}
				label {
					position: absolute;
					z-index: 10;
					left:0; top: 50%;
					transform: translate(-0%, -50%);
					color: rgba(#252319, .95);
					opacity: 0;
					transition: all .23s ease-out;
					pointer-events: none;
				}
			}
			.invalid {
				border-color: crimson;
			}
			.valid {
				border-color: rgb(47, 194, 28);
			}
		}
	}
}

.react-calendar {
	height: 100%;
	min-width: 600px;
	width: 50% !important;
	padding: 15px;
	border-radius: 10px;
	border: none !important;
	background-color: $bleach !important;
	box-shadow: 0 5px 15px rgba(black, 0.26);
	&__navigation {
		button {
			font-family: futura-pt !important;
			font-family: ambroise-firmin-std, serif !important;

			text-transform: capitalize !important;
			font-weight: 800 !important;
			font-size: 25px !important;
		}
	}

	&__viewContainer {
	}

	&__month-view {
		&__weekdays {
			&__weekday {
				abbr {
					font-family: futura-pt !important;
					text-transform: capitalize !important;
					font-weight: 700 !important;
					font-size: 16px !important;
					text-decoration: none;
				}
			}
		}
		&__days {
			button {
				font-family: futura-pt !important;
				text-transform: capitalize !important;
				font-weight: 400 !important;
				font-size: 16px !important;
			}
		}
	}
	&__tile {
		&--now {
			background: rgba($grass, 0.7) !important;
			color: $bleach !important;
		}
		&--range {
			background: $tomato !important;
		}
	}
}

.step-counter {
	position: fixed;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%, 0);
	height: 85px;
	width: 1600px;
	max-width: 92%;

	display: flex;
	justify-content: space-between;
	font-family: ambroise-firmin-std, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 26px;

	&__watcher {
		background-color: $tomato;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 56.25%;
		border-radius: 15px;
		padding: 0 25px;
		box-shadow: 0 -12px 20px rgba(black, 0.16);
		.step {
			text-transform: uppercase;
			color: $bleach;
			&--active {
				opacity: 1;
			}
			&--complete {
				opacity: 0.6;
				text-decoration: line-through;
			}
			&--incomplete {
				color: #5e3721;
			}
		}
	}

	&__next {
		width: 18.75%;

		a {
			text-decoration: none;
			text-transform: uppercase;
			background-color: $bleach;
			border-radius: 15px;
			box-shadow: 0 -12px 30px rgba(black, 0.16);

			color: #5e3721;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}

	@media screen and (max-width: 1550px) {
		font-size: 22px;

		&__watcher {
			width: 62.5%;
		}
	}
	@media screen and (max-width: 1250px) {
		font-size: 20px;

		&__watcher {
			width: 67.5%;
		}
	}
	@media screen and (max-width: 1000px) {
		font-size: 18px;
		max-width: 96%;
		bottom: 20px;
		height: 75px;
		&__watcher {
			width: 80%;
		}

	}
	@media screen and (max-width: 750px) {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-evenly;
		bottom: 50px;
		&__watcher {
			padding: 20px 15px;
			width: 100%;
			margin-top: 10px;

		}
		&__next {
			width: 50%;
			a {
				padding: 15px 22.5px;
			}
		}
	}
	@media screen and (max-width: 575px) {
		font-size: 16px;

		&__watcher {
			text-align: center;

			.step {
				padding: 0 5px;
			}
		}
	}
	@media screen and (max-width: 475px) {
		font-size: 15px;

	
	}
}
