$danger: #d9534f;
$success: #5cb85c;


$bleach-dark: #cac7ba;
$bleach: #fcf9e8;
$bleach-1: #fdfbef;
$bleach-2: #fefdf8;

$grass-dark: #536730;
$grass: #68813c;
$grass-1: #95a777;
$grass-2: #c3cdb1;

$brown-dark: #714f3c;
$brown: #8d634b;
$brown-1: #af9281;
$brown-2: #d1c1b7;

$tomato-dark: #ab4638;
$tomato: #D65846;
$tomato-1: #e28a7e;
$tomato-2: #efbcb5;